<!-- Reemplaza el contenido de la página por lo que hay en base.html-->
{% extends 'base.html' %}


{% block content %}

<main class="container py-5">
    <section class="card card-body">

        <h1 class="display-1 text-center">Welcome to TASKIVE</h1>
        <h4 class="text-center">Your Task Management Tool</h4>
        <p>Organize your life, simplify your day! With Taskive, keeping track of your tasks has never been easier. Our intuitive application allows you to plan, prioritize, and complete your daily activities efficiently, all from one place.</p>

        <p>Características Destacadas:

            Organización sin Esfuerzo: Crea listas de tareas y asigna prioridades con un simple clic. Con Taskive, puedes dividir tus proyectos en tareas manejables para una gestión más efectiva.
        
            Seguimiento en Tiempo Real: Mantente al tanto del progreso de tus tareas en todo momento. Taskive te proporciona actualizaciones instantáneas sobre el estado de tus actividades, para que nunca te pierdas un plazo importante.
        
            Colaboración Simplificada: Comparte tus listas de tareas con colegas, amigos o familiares. Colabora en proyectos y asigna tareas a otros usuarios para una mayor productividad y coordinación.
        
            Personalización Total: Adapta Taskive a tus necesidades individuales con opciones de personalización flexibles. Desde etiquetas y categorías hasta recordatorios y fechas límite, puedes personalizar cada aspecto de tu experiencia de gestión de tareas.
        
            Acceso en Cualquier Momento y Lugar: Con nuestra aplicación móvil y web, puedes acceder a tus tareas desde cualquier dispositivo y en cualquier momento. Ya sea en casa, en la oficina o en movimiento, Taskive te mantiene conectado con tus responsabilidades.
        
        Únete a la Comunidad de Taskive hoy mismo y Descubre la Diferencia en tu Productividad.
        
        ¡Simplifica tu vida y alcanza tus objetivos con Taskive!</p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock %}
